html {
    min-height: 100%;

}
body {
    padding:15px;
}
.container {
    display: grid;
    grid-template-columns: [first] 20% [second] 20% [third] auto [fourth] 20% [fifth] 20%;
    grid-template-rows:[row1] 8% [row2] 6% [row3] auto [row4] 15% [row5] 15% [row6] 10%;
    background-color: white;
    position: absolute;
    width: 100%;
    min-height: 100%;
    grid-gap: 15px;

}

.container > div {
    background-color: rgba(175, 201, 220,.7);
    padding: 4px;
    line-height: 100%;
    color: rgb(88, 123, 155);
}

.header {
    grid-column: 1/6;
    grid-row: 1;
    font-size:2.5em;
    font-family:copperplate;
    text-align: center;
}

.aside {
    grid-column:1;
    grid-row:2/6;
    text-align:center;
}

.asideBar {
    display: block;
    background-color: rgb(187,230,187);
    border-radius: 8px;
    padding: 8px 8px;
    margin: 8px;
    height: 30 px;
    font-weight: bold;
}
h2 {
    background-color: rgb(187, 230,187);
    font-family: fantasy;
    height: 1.5em;
    line-height: 150%;
    padding: 4px;
}
a {
    color: rgb(88,123,155);
    text-decoration: none;
    font-family: fantasy;
}

li a:hover {
    background-color: rgb(219,193,222);

}
.mainContent {
    grid-column:2/6;
    grid-row:2/6;
    background-color: white;
    background-image:url('ST_Helix.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    font-family: fantasy;
    color: rgb(88, 123, 155);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.loginForm {
    grid-column:3/5;
    grid-row:4/5;
    justify-self: stretch;
    align-self:center;
    font-family: copperplate;
    padding: 1em;
    text-align: center;
}

.registerForm {
    grid-column:2/6;
    grid-row:4/6;
    justify-self: center;
    align-self:center;
    font-family: copperplate;
    padding: 1em;
    text-align: center;
}

.button {
    background-color: rgb(187, 230,187);
    border-radius: 8px;
    border-color: rgb(187, 230,187);
    font-family: fantasy;
    color: rgb(88, 123, 155);
}

.button :hover {
    background-color:rgb(219,193,222);
}


.footer {
    grid-column:1/6;
    grid-row:6;
    text-align: center;
}
